.page_controls {
    padding: .5rem 1rem;
    display: flex;
    justify-content: center;
}
.page_controls button {
    cursor: pointer;
    display: inline-block;
    outline: none;
    background: transparent;
    font-family: inherit;
    font-size: .8rem;
    border: none;
    padding: .5rem 1rem;
    border-radius: 100px;
    margin-right: .5rem;
    background-color: transparent;
    transition: 150ms ease;
    box-shadow: inset 0 0 0 1px #eeeef6;
    color: #6f6f77;
    font-weight: 600;
    margin-bottom: .5rem;
}
.page_controls button:hover {
    box-shadow: none;
    background-color: #eeeef6;
}
.page_controls button:hover i {
    color: #e14;
}
.page_controls button:active,
.page_controls button.btn_active {
    background-color: #eeeef6;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}
